
.suggestedUsers{
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
}
.userContainer{
    display: flex;
    gap: 4px;
    align-items: center;
}
.userImage{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.userInfo{
    display: flex;
    flex-direction: column;
    color: #fff;
}
.userNick{
    opacity: .6;
}
.aside{
    display: flex;
    align-items: center;
}
.followButton{
    padding: 6px 16px;
    margin-left: 16px;
    cursor: pointer;
    border: 1px solid #000;
    font-weight: bold;
    border-radius: 999px;
}
.following{
    border: 1px solid #fff;
    color: #fff;
    background: none;
}
.following:hover{
    border: 1px solid red;
    color: red;
    background: none;
}
.following:hover .followingSpan{
    display: none;
}
.unfollowSpan{
    display: none;
}
.following:hover .unfollowSpan{
    display: block;
}

