body{
    margin: 0;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;

    background: #000;
}

.App{
    display: flex;
    flex-direction: column;
    background: #16181c;
    border-radius: 20px;
    overflow: hidden;
}